body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'DM Sans', 'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7180b3;
  display: flex;
  justify-content: center;
  color: white;
  box-sizing: border-box;
}
html{
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
